<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>QA Test Environment</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">QA Test Environment</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">A QA test environment is a specialized platform designed exclusively for testing purposes.
          Its primary function is to rigorously evaluate and validate various functionalities and aspects of a software
          application.</p>
      </div>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Login Page Form</h5>
      <p class="card-text">The QA test environment for the login page form ensures a secure, smooth, and error-free user
        authentication process. It checks data validation, error handling, and safeguards to guarantee users can access
        their accounts seamlessly and safely. Issues are detected and resolved pre-release, enhancing the login
        experience.</p>
      <button (click)="goToLoginPage()" class="btn btn-primary">Go to Login Page</button>
    </div>
    <div class="card-footer text-body-secondary">
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Contact Us Page Form</h5>
      <p class="card-text">The QA test environment for the "Contact Us" page form focuses on validating the
        functionality and user experience of the form. It ensures accurate data submission, proper validation of user
        inputs, and reliable error handling. By thoroughly testing this form, the QA team aims to enhance communication
        between users and the application, providing a seamless and responsive "Contact Us" experience.</p>
      <button (click)="goToContactUsPage()" class="btn btn-primary">Go to Contact Us Page</button>
    </div>
    <div class="card-footer text-body-secondary">
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">File Upload Page</h5>
      <p class="card-text">The QA test environment for the file upload page rigorously assesses the uploading process of
        various file types. It verifies seamless file selection, accurate upload progress tracking, and proper error
        handling. Through comprehensive testing, the QA team aims to ensure reliable and efficient file submissions,
        enhancing user interaction and ensuring successful file transfers.</p>
      <button (click)="goToFileUploadPage()" class="btn btn-primary">Go to File Upload Page</button>
    </div>
    <div class="card-footer text-body-secondary">
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">To-Do List Page</h5>
      <p class="card-text">The QA test environment for the to-do list functionality rigorously evaluates task creation,
        editing, and completion. It ensures smooth task management, accurate data storage, and reliable synchronization
        across devices. Through thorough testing, the QA team aims to enhance user productivity and satisfaction by
        delivering a seamless and effective to-do list experience.</p>
      <button (click)="goToDoListPage()" class="btn btn-primary">Go to To-Do List Page</button>
    </div>
    <div class="card-footer text-body-secondary">
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Settings Simulator Page</h5>
      <p class="card-text">The settings simulator within the QA test environment meticulously assesses the interaction
        with various configurations and options.</p>
      <button (click)="goToSettingsSimulatorPage()" class="btn btn-primary">Go to Settings Simulator Page</button>
    </div>
    <div class="card-footer text-body-secondary">
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>